<!DOCTYPE>
<html>
  <head>
    <title>Welsh Stemmer</title>
    <style>
      textarea {
        width: 300px;
        height: 300px;
      }
    </style>
  </head>
  <body>
    <form method="post" action="/">
      {% csrf_token %}
      <label for="text"></label>
      <textarea id="text" name="text">{{ text }}</textarea>
      <input type="submit" value="Stem">
      <div>
        <table cellspacing="2">
          <tr>
              <th>Token</td>
              <tH>Stem</td>
          </tr>
          {% for i in result %}
            <tr>
              <td>{{ i.token }}</td>
              <td>{{ i.stem }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </form>
  </body>
</html>